/*configuração de variáveis*/


/*-----------------------------------------------------*/

 :root {
    --rosa: rgb(255, 192, 203);
    --amarelo: rgb(255, 255, 213);
}


/*-----------------------------------------------------*/

body {
    font-family: 'kabel-light', sans-serif;
    /*deixa os conteudos abaixo do menu*/
    padding-top: 100px;
    background-color: #ffffff;
}


/* Aqui começam as configurações dos elementos do header*/

header {
    margin-bottom: 40px;
}

nav {
    background-image: linear-gradient(to left, rgb(255, 255, 113), pink);
    margin-bottom: 40px;
    /*top: 0;
          left: 0;
          width: 100%;
          height: 120px;
          border-radius: 25px;
          */
}

#h1-principal {
    font-family: 'kabel-light', serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: right;
}


/*Estilização dos Links*/

.navegacao a {
    color: black;
    font-weight: bolder;
    transition: 0.3s;
}

.navegacao a:hover {
    color: white;
}


/* Aqui acabam as configurações do header*/


/*descrição das imagens em italico*/

figcaption {
    font-style: italic;
}


/*configurações de imagem*/

.fundadoraimg,
.coordenadoraimg,
.relacionamento-img {
    background-color: #fff2b5;
    border: 1px solid #ccc;
    float: right;
    clear: both;
}

.fundadora,
footer {
    clear: both;
}

.img-1-home {
    padding: 25px;
    margin: 10px;
    float: right;
    /*
background-color: #fff2b5;
border: 1px solid #ccc;*/
}


/* configurações de texto*/

p {
    margin-right: 10px;
    font-family: 'kabel-light', sans-serif;
}

.colaboradores h2 {
    clear: both;
    text-align: center;
    font-size: 19px;
    margin: 15px;
}

ul {
    font-size: 20px;
    list-style-type: none;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}


/* configurações para deixar o texto legível*/

p,
ul,
h2,
h4 {
    letter-spacing: 0.3px;
    margin: 10px;
    line-height: 30px;
}

.sobre {
    background-color: pink;
}

.destaque-home {
    text-align: center;
}

/* Carrossel */

.img-depoimentos {
    float: left;
    margin-right: 6px;
}

.card-depoimento h5 {
    text-align: left;
}

.card-depoimento p {
    text-align: center;
}

.depoimentos-carrossel {
    text-align: center;
}