:root {
    --rosa: rgb(255, 192, 203);
    --amarelo: rgb(255, 255, 213);
}

body {
    font-family: 'kabel-light', sans-serif;
    padding: 100px;
    background-color: #ffdfea;
}


/* Aqui começam as configurações dos elementos do header*/

header {
    background-image: linear-gradient(to right, rgb(255, 255, 113), pink);
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}


/*header que segue a pagina*/

.logo {
    float: left;
    border-radius: 30%;
}


/* logo redonda*/

.h1-principal {
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: 30px;
}

.navegacao {
    display: inline;
    text-align: center;
    list-style: none;
    height: 100%;
    margin: 0;
}

.navegacao ul li {
    margin-right: 10px;
    display: inline;
}


/* Aqui acabam as configurações do header*/

.img-1 {
    float: right;
    background-color: #fff2b5;
    border: 1px solid #ccc;
}


/* configurações para deixar o texto legível*/

figcaption {
    font-style: italic;
}


/*descrição das imagens em italico*/

p,
ul,
h2 {
    padding: 5px;
    letter-spacing: 0.3px;
    margin: 10px;
}


/* Esta classe alinha as imagens da página Home com os textos*/

.img-home {
    padding: 5px;
    margin: 10px;
}

.fundadoraimg,
.coordenadoraimg,
.relacionamento-img {
    background-color: #fff2b5;
    border: 1px solid #ccc;
    float: right;
    clear: both;
}

.fundadora,
footer {
    clear: both;
}

.colaboradores h2 {
    clear: both;
    text-align: center;
    background-color: #fff2b5;
    font-style: italic;
    font-size: 19px;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}

ul {
    font-size: 20px;
}